/*
* Prefixed by https://autoprefixer.github.io
* PostCSS: v7.0.29,
* Autoprefixer: v9.7.6
* Browsers: last 100 version
*/


/* Required Files */

@import 'parts/simple-headline';
@import 'parts/custom-options';
@import 'base/blog-cols';
@import 'base/product-cols';

/* iTechPublic sidebar start */

.itechsec-oxd {
    z-index: 1;
    @include breakpoint($medium-min) {
        padding-top: 250px;
    }
}

.itechout-moz {
    background-color: var(--color-ablock);
    border-width: 1px;
    border-color: var(--color-bblock);
    -webkit-box-shadow: 0 2px 3px -2px rgba(0, 0, 0, .15);
    -moz-box-shadow: 0 2px 3px -2px rgba(0, 0, 0, .15);
    box-shadow: 0 2px 3px -2px rgba(0, 0, 0, .15);
    -webkit-border-radius: 0.25rem;
    -moz-border-radius: 0.25rem;
    border-radius: 0.25rem;
    margin-bottom: 0.5rem;
    @include breakpoint($small-max) {
        margin-top: 3.5rem;
    }
    .itechspl-jx8 {
        margin-bottom: 0.5rem;
    }
    &.itechspl-yol {
        @include breakpoint($extra-small-phone) {
            .itechpart-phd {
                margin-top: 1.5rem;
                .card {
                    border: 1px solid var(--color-bblock);
                    margin-left: 7px;
                    margin-right: 7px;
                    margin-bottom: 1rem;
                    &::after {
                        display: none;
                    }
                }
            }
        }
        .itechout-7ht {
            @include breakpoint($extra-small-phone) {
                h3 {
                    text-align: center;
                }
                span.itech-active {
                    text-align: center;
                }
                .itechpin-8ga::before {
                    left: 50%;
                    -webkit-transform: translateX(-50%);
                    -moz-transform: translateX(-50%);
                    -ms-transform: translateX(-50%);
                    -o-transform: translateX(-50%);
                    transform: translateX(-50%);
                }
            }
        }
    }
}

.itechspl-4rl {
    .card {
        padding-top: 1.7rem;
        padding-bottom: .5rem;
        padding-left: 0.25rem;
        padding-right: 0.25rem;
    }
    @include breakpoint($medium-min) {
        .itechpart-asw {
            h3 {
                font-size: 16px;
            }
        }
        .itechpin-8ga {
            span.itech-active {
                font-size: 14px;
            }
        }
    }
}


/* iTechPublic sidebar end */

.itechsec-x1i {
    /* iTechPublic parts 1 start */
    .itechpart-mlb {
        background-color: var(--color-ablock);
        border-width: 1px;
        border-color: var(--color-bblock);
        -webkit-box-shadow: 0 2px 3px -2px rgba(0, 0, 0, .15);
        -moz-box-shadow: 0 2px 3px -2px rgba(0, 0, 0, .15);
        box-shadow: 0 2px 3px -2px rgba(0, 0, 0, .15);
        -webkit-border-radius: 0.25rem;
        -moz-border-radius: 0.25rem;
        border-radius: 0.25rem;
        margin-bottom: 1rem;
        @include breakpoint($small-max) {
            margin-bottom: 4rem;
        }
        .itechspl-jx8 {
            margin-bottom: 0.5rem;
        }
        .itechspl-cxz {
            padding-left: 3px;
            padding-right: 3px;
        }
    }
    /* iTechPublic parts 1 end */
    /* iTechPublic parts 2 start */
    .itechpart-nm1,
    .itechpart-fbg {
        background-color: var(--color-ablock);
        border-width: 1px;
        border-color: var(--color-bblock);
        -webkit-box-shadow: 0 2px 3px -2px rgba(0, 0, 0, .15);
        -moz-box-shadow: 0 2px 3px -2px rgba(0, 0, 0, .15);
        box-shadow: 0 2px 3px -2px rgba(0, 0, 0, .15);
        -webkit-border-radius: 0.25rem;
        -moz-border-radius: 0.25rem;
        border-radius: 0.25rem;
        margin-bottom: 1.5rem;
        .itechspl-jx8 {
            margin-bottom: 0.5rem;
        }
    }
    /* iTechPublic parts 2 end */
}


/* iTechPublic sidebar global start */

.itechpart-phd {
    .card {
        border: 0px none;
        background-color: transparent;
        &::after {
            content: "";
            position: absolute;
            width: 65%;
            height: 1px;
            bottom: 0;
            left: 50%;
            background-color: var(--color-bblock);
            -webkit-transform: translateX(-50%);
            -moz-transform: translateX(-50%);
            -ms-transform: translateX(-50%);
            -o-transform: translateX(-50%);
            transform: translateX(-50%);
            -webkit-transition: all 0.15s;
            -o-transition: all 0.15s;
            -moz-transition: all 0.15s;
            transition: all 0.15s;
            z-index: 1;
        }
        &:last-child::after {
            display: none;
        }
        &:hover {
            .itech-bzw {
                figure {
                    img {
                        -webkit-animation: flash 1s;
                        -moz-animation: flash 1s;
                        -o-animation: flash 1s;
                        animation: flash 1s;
                    }
                }
            }
            .itechpin-lwy::before {
                background-color: var(--color-active);
            }
            .itechpin-8ga::before {
                background-color: var(--color-active);
            }
        }
    }
    .itech-bzw {
        figure {
            margin-bottom: 0;
            @include breakpoint($extra-small-phone) {
                margin-bottom: 1rem;
            }
            a {
                display: block;
            }
            img {
                -webkit-border-radius: 2px;
                -moz-border-radius: 2px;
                border-radius: 2px;
            }
        }
        &.itechout-wzy {
            figure {
                text-align: center;
                @include breakpoint($extra-small-min) {
                    border: 1px solid var(--color-bblock);
                    -webkit-border-radius: 2px;
                    -moz-border-radius: 2px;
                    border-radius: 2px;
                }
                img {
                    @include breakpoint($extra-medium-only) {
                        width: 85px;
                    }
                    @include breakpoint($medium-min) {
                        width: 65px;
                    }
                    padding-top: 4px;
                    padding-bottom: 4px;
                }
            }
        }
    }
    .itech-6av {
        -webkit-box-pack: center;
        -webkit-justify-content: center;
        -moz-box-pack: center;
        -ms-flex-pack: center;
        justify-content: center;
        height: 100%;
        h3 {
            position: relative;
            font-size: 18px;
            font-weight: 700;
            @include breakpoint($small-max) {
                font-size: 22px;
            }
            margin-bottom: 0.25rem;
            a {
                color: var(--color-fb2wha);
                -webkit-transition: all 0.15s;
                -o-transition: all 0.15s;
                -moz-transition: all 0.15s;
                transition: all 0.15s;
                text-decoration: none;
                &:hover {
                    color: var(--color-active);
                }
            }
        }
        .itechpin-8ga {
            padding-top: 0.25rem;
            &::before {
                content: "";
                position: absolute;
                width: 15%;
                height: 1px;
                top: 0;
                left: 0;
                background-color: var(--color-bblock);
                -webkit-transition: all 0.15s;
                -o-transition: all 0.15s;
                -moz-transition: all 0.15s;
                transition: all 0.15s;
            }
            span.itech-active {
                color: $color-active;
                font-size: 14px;
                font-weight: 500;
            }
        }
        .itechpin-lwy {
            padding-top: 0.25rem;
        }
    }
    .itech-v5g {
        a {
            color: var(--color-fwhablack);
            -webkit-transition: all 0.15s;
            -o-transition: all 0.15s;
            -moz-transition: all 0.15s;
            transition: all 0.15s;
            text-decoration: none;
            &:hover {
                color: var(--color-active);
            }
        }
    }
    &.itechout-0z9 {
        .itechspl-xns {
            padding-left: 7px;
            padding-right: 7px;
            margin-bottom: 1rem;
        }
        .card {
            -webkit-box-pack: center;
            -webkit-justify-content: center;
            -moz-box-pack: center;
            -ms-flex-pack: center;
            justify-content: center;
            border: 1px solid var(--color-bblock);
            background-color: var(--color-ablock);
            &::after {
                display: none;
            }
        }
    }
}


/* iTechPublic sidebar global end */