/*
* Prefixed by https://autoprefixer.github.io
* PostCSS: v7.0.29,
* Autoprefixer: v9.7.6
* Browsers: last 100 version
*/

.bitsecuresec-onx {
    .bitsecurepart-ajk {
        padding-top: 114px !important;
        padding-bottom: 100px !important;
        .bitsecurepart-aef {
            padding-top: 45px;
            padding-bottom: 45px;
            .bits-aw8 {
                padding-left: 10px;
                padding-right: 10px;
                ul {
                    margin-bottom: 12px;
                    li {
                        font-size: 14px;
                        display: inline-block;
                        margin-right: 16px;
                        color: #616161;
                        position: relative;
                        &::before {
                            content: "";
                            position: absolute;
                            right: -8px;
                            top: 50%;
                            width: 1px;
                            height: 100%;
                            background-color: var(--color-priority);
                            -webkit-transform: translate(0, -50%);
                            -khtml-transform: translate(0, -50%);
                            -moz-transform: translate(0, -50%);
                            -ms-transform: translate(0, -50%);
                            -o-transform: translate(0, -50%);
                            transform: translate(0, -50%);
                        }
                        &:last-child::before {
                            display: none;
                        }
                        a {
                            text-decoration: none;
                            color: inherit;
                            -webkit-transition: all 300ms linear 0ms;
                            -khtml-transition: all 300ms linear 0ms;
                            -moz-transition: all 300ms linear 0ms;
                            -ms-transition: all 300ms linear 0ms;
                            -o-transition: all 300ms linear 0ms;
                            transition: all 300ms linear 0ms;
                            &:hover {
                                color: var(--color-active);
                            }
                        }
                    }
                }
            }
            .bits-jfj {
                padding-left: 10px;
                padding-right: 10px;
                h2 {
                    font-size: 18px;
                    margin-bottom: 9px;
                    a {
                        text-decoration: none;
                        color: $color-black;
                    }
                }
            }
            .bits-aru {
                flex-direction: row;
                padding-left: 10px;
                padding-right: 10px;
                a {
                    padding: 7px 20px;
                    float: right;
                    font-size: 12px;
                    background: var(--color-fwhvblack);
                    color: var(--color-priority);
                    box-shadow: 0px 5px 15px var(--color-priority);
                    border-radius: 25px;
                    text-transform: uppercase;
                    text-decoration: none;
                    -webkit-transition: all 300ms linear 0ms;
                    -khtml-transition: all 300ms linear 0ms;
                    -moz-transition: all 300ms linear 0ms;
                    -ms-transition: all 300ms linear 0ms;
                    -o-transition: all 300ms linear 0ms;
                    transition: all 300ms linear 0ms;
                    &:hover {
                        background-color: var(--color-active);
                        color: var(--color-fwhvblack);
                    }
                }
            }
        }
        .bitsecurepin-atu {
            height: 100%;
            overflow: hidden;
            border: 1px solid var(--color-bvblock);
            border-radius: 3px;
            box-shadow: 0 2px 3px -2px rgba(0, 0, 0, 0.15);
            .bitspix-yui {
                overflow: hidden;
                img {
                    -webkit-transition: all 500ms linear 0ms;
                    -khtml-transition: all 500ms linear 0ms;
                    -moz-transition: all 500ms linear 0ms;
                    -ms-transition: all 500ms linear 0ms;
                    -o-transition: all 500ms linear 0ms;
                    transition: all 500ms linear 0ms;
                }
            }
            &:hover {
                img {
                    transform: scale(1.15);
                }
            }
        }
    }
}