/*
* Prefixed by https://autoprefixer.github.io
* PostCSS: v8.3.6,
* Autoprefixer: v10.3.1
* Browsers: last 100 version
*/

.bitsecuresec-ixj {
    padding-top: 150px;
    .bitsecurepart-apk {
        padding-top: 50px !important;
        padding-bottom: 100px !important;
        .bitsecurepin-atu {
            overflow: hidden;
            border: 1px solid var(--color-bvblock);
            -webkit-border-radius: 3px;
            -moz-border-radius: 3px;
            border-radius: 3px;
            -webkit-box-shadow: 0 2px 3px -2px rgba(0, 0, 0, 0.15);
            -moz-box-shadow: 0 2px 3px -2px rgba(0, 0, 0, 0.15);
            box-shadow: 0 2px 3px -2px rgba(0, 0, 0, 0.15);
            -webkit-transition: all 300ms linear 0ms;
            -moz-transition: all 300ms linear 0ms;
            -o-transition: all 300ms linear 0ms;
            transition: all 300ms linear 0ms;
            margin-bottom: 0px;
            .bitspix-yui {
                overflow: hidden;
                img {
                    -webkit-transition: all 500ms linear 0ms;
                    -moz-transition: all 500ms linear 0ms;
                    -o-transition: all 500ms linear 0ms;
                    transition: all 500ms linear 0ms;
                }
            }
            .bits-aw8 {
                padding-left: 10px;
                padding-right: 10px;
                ul {
                    margin-bottom: 12px;
                    li {
                        font-size: 14px;
                        display: inline-block;
                        margin-right: 16px;
                        color: #616161;
                        position: relative;
                        &::before {
                            content: "";
                            position: absolute;
                            right: -8px;
                            top: 50%;
                            width: 1px;
                            height: 100%;
                            background-color: var(--color-priority);
                            -webkit-transform: translate(0, -50%);
                            -khtml-transform: translate(0, -50%);
                            -moz-transform: translate(0, -50%);
                            -ms-transform: translate(0, -50%);
                            -o-transform: translate(0, -50%);
                            transform: translate(0, -50%);
                        }
                        &:last-child::before {
                            display: none;
                        }
                        a {
                            text-decoration: none;
                            color: inherit;
                            -webkit-transition: all 300ms linear 0ms;
                            -moz-transition: all 300ms linear 0ms;
                            -o-transition: all 300ms linear 0ms;
                            transition: all 300ms linear 0ms;
                            &:hover {
                                color: var(--color-active);
                            }
                        }
                    }
                }
            }
            .bits-jfj {
                padding-left: 10px;
                padding-right: 10px;
                h2 {
                    font-size: 20px;
                    margin-bottom: 9px;
                    -webkit-transition: all 300ms linear 0ms;
                    -moz-transition: all 300ms linear 0ms;
                    -o-transition: all 300ms linear 0ms;
                    transition: all 300ms linear 0ms;
                    a {
                        text-decoration: none;
                        color: $color-black;
                    }
                    &:hover {
                        a {
                            color: var(--color-priority);
                        }
                    }
                }
            }
            .bits-aru {
                -webkit-box-orient: horizontal;
                -webkit-box-direction: normal;
                -webkit-flex-direction: row;
                -moz-box-orient: horizontal;
                -moz-box-direction: normal;
                -ms-flex-direction: row;
                flex-direction: row;
                padding-left: 10px;
                padding-right: 10px;
                a {
                    padding: 7px 20px;
                    float: right;
                    font-size: 12px;
                    background: $color-white;
                    color: var(--color-priority);
                    -webkit-box-shadow: 0px 5px 15px var(--color-priority);
                    -moz-box-shadow: 0px 5px 15px var(--color-priority);
                    box-shadow: 0px 5px 15px var(--color-priority);
                    -webkit-border-radius: 25px;
                    -moz-border-radius: 25px;
                    border-radius: 25px;
                    text-transform: uppercase;
                    text-decoration: none;
                    -webkit-transition: all 300ms linear 0ms;
                    -moz-transition: all 300ms linear 0ms;
                    -o-transition: all 300ms linear 0ms;
                    transition: all 300ms linear 0ms;
                    &:hover {
                        background-color: var(--color-active);
                        color: $color-white;
                    }
                }
            }
        }
    }
    .bitsecurespl-lzb {
        padding-top: 1rem;
        margin-bottom: 1rem;
        &::after {
            content: "";
            position: absolute;
            width: 15%;
            height: 1px;
            top: - 0.75rem;
            left: 50%;
            background-color: var(--color-bvblock);
            -webkit-transform: translateX(-50%);
            -moz-transform: translateX(-50%);
            -ms-transform: translateX(-50%);
            -o-transform: translateX(-50%);
            transform: translateX(-50%);
            -webkit-transition: all 0.15s;
            -o-transition: all 0.15s;
            -moz-transition: all 0.15s;
            transition: all 0.15s;
        }
        ul {
            li {
                display: block;
                position: relative;
                margin-right: 0.25rem;
                &:last-child {
                    margin-right: 0;
                }
                &.bitsecure-active {
                    span.disabled {
                        background-color: $color-white;
                        border-color: $color-white;
                        color: $color-white;
                    }
                }
                a.btn,
                span.disabled {
                    display: inline-block;
                    position: relative;
                    text-decoration: none;
                    color: inherit;
                    font-size: 1rem;
                    height: 34px;
                    line-height: 2rem;
                    padding-top: 0;
                    padding-bottom: 0;
                    -webkit-border-radius: 0.1875rem;
                    -moz-border-radius: 0.1875rem;
                    border-radius: 0.1875rem;
                    border-color: var(--color-priority);
                    background-color: $color-white;
                }
                &.bitsecure-dot {
                    span.disabled {
                        border: 0px none;
                        line-height: 1.5rem;
                    }
                }
                &:hover {
                    a {
                        color: $color-white;
                        background-color: var(--color-priority);
                    }
                }
            }
        }
    }
}