/*
* Prefixed by https://autoprefixer.github.io
* PostCSS: v8.3.6,
* Autoprefixer: v10.3.1
* Browsers: last 100 version
*/

.bitsecuresec-8kx {
    padding-top: 114px !important;
    padding-bottom: 100px !important;
    .bits-7iyu {
        position: relative;
        &::before {
            content: '';
            width: 35px;
            left: -20px;
            bottom: 0;
            top: 115px;
            background-color: var(--color-priority);
            position: absolute;
            -webkit-border-radius: 1px 0 0 1px;
            -moz-border-radius: 1px 0 0 1px;
            border-radius: 1px 0 0 1px;
            z-index: -1;
        }
        &::after {
            content: '';
            width: 170px;
            right: -20px;
            bottom: 115px;
            top: 0;
            background-color: var(--color-priority);
            position: absolute;
            -webkit-border-radius: 1px 0 0 1px;
            -moz-border-radius: 1px 0 0 1px;
            border-radius: 1px 0 0 1px;
            z-index: -1;
        }
        &:hover {
            img {
                -webkit-transform: scale(1);
                -moz-transform: scale(1);
                -ms-transform: scale(1);
                -o-transform: scale(1);
                transform: scale(1);
                -webkit-animation: flash 1s;
                -moz-animation: flash 1s;
                -o-animation: flash 1s;
                animation: flash 1s;
            }
        }
        a {
            padding: 0 35px;
            background-color: var(--color-priority);
            line-height: 71px;
            display: inline-block;
            font-size: 14px;
            font-weight: 700;
            color: $color-white;
            position: absolute;
            bottom: 0;
            left: 0;
            text-decoration: none;
        }
    }
    .bitsecurepix-arj {
        >P {
            font-size: 14px;
            font-weight: 700;
            color: var(--color-priority);
            margin-bottom: 9px;
        }
        span.bitspix-abc {
            display: inline-block;
            width: 40px;
            height: 3px;
            background-color: var(--color-priority);
            vertical-align: top;
        }
        article p {
            margin-top: 1rem;
        }
        strong {
            color: $color-black;
        }
        h2 {
            margin-bottom: 0px;
            color: $color-black;
            line-height: 53px;
        }
    }
}