/*
* Prefixed by https://autoprefixer.github.io
* PostCSS: v7.0.29,
* Autoprefixer: v9.7.6
* Browsers: last 100 version
*/


/* iTechPublic brand-page start */

.itechsec-alh {
    .itechout-gmj {
        padding-top: 2.5rem;
        padding-bottom: 2.5rem;
        padding-left: 1rem;
        padding-right: 1rem;
        &::before {
            content: "";
            position: absolute;
            background-color: var(--color-active);
            @include breakpoint($extra-small-phone) {
                width: 80px !important;
                height: 2px !important;
            }
            width: 2px;
            height: 80px;
            left: 0;
            top: 0;
        }
    }
    .itechpart-c7u {
        .itechpart-faj {
            margin-right: -7px;
            margin-left: -7px;
            .itechspl-wx6 {
                padding-left: 7px;
                padding-right: 7px;
            }
        }
    }
}


/* iTechPublic brand-page end */