/*
* Prefixed by https://autoprefixer.github.io
* PostCSS: v8.3.6,
* Autoprefixer: v10.3.1
* Browsers: last 100 version
*/

.bitsecuresec-oiu {
    background-color: $color-white;
    .cms-carousel-item-wrap {
        padding-top: 45px;
        padding-bottom: 45px;
    }
}