/*
* Prefixed by https://autoprefixer.github.io
* PostCSS: v7.0.29,
* Autoprefixer: v9.7.6
* Browsers: last 100 version
*/

.bitsecuresec-oiu {
    background-color: $color-white;
    .cms-carousel-item-wrap {
        padding-top: 45px;
        padding-bottom: 45px;
    }
}