/*
* Prefixed by https://autoprefixer.github.io
* PostCSS: v7.0.29,
* Autoprefixer: v9.7.6
* Browsers: last 100 version
*/


/* iTechPublic comment start */

.itechpart-5sx,
.itech-drq {
    form {
        input.itech-error,
        textarea.itech-error {
            border-color: $color-instagram;
        }
        label {
            color: var(--color-fbwhite);
            font-weight: 600;
        }
        span.itech-alert {
            color: $color-instagram
        }
        .form-submit button[type="submit"] {
            border: 1px solid var(--color-bblock);
            background-color: var(--color-fbwhite);
            color: var(--color-fwhblack);
            -webkit-transition: all 0.15s;
            -o-transition: all 0.15s;
            -moz-transition: all 0.15s;
            transition: all 0.15s;
            -webkit-border-radius: 0.1875rem;
            -moz-border-radius: 0.1875rem;
            border-radius: 0.1875rem;
            min-height: 38px;
            font-weight: 500;
            min-width: 135px;
        }
    }
}


/* iTechPublic comment end */