/*
* Prefixed by https://autoprefixer.github.io
* PostCSS: v7.0.29,
* Autoprefixer: v9.7.6
* Browsers: last 100 version
*/


/* iTechPublic contact us page start */

.itechsec-fcf {
    .itechout-gmj {
        padding-top: 2.5rem;
        padding-bottom: 2.5rem;
        padding-left: 1rem;
        padding-right: 1rem;
        &::before {
            content: "";
            position: absolute;
            background-color: var(--color-active);
            @include breakpoint($extra-small-phone) {
                width: 80px !important;
                height: 2px !important;
            }
            width: 2px;
            height: 80px;
            left: 0;
            top: 0;
        }
        .itechspl-jx8 {
            margin-bottom: 2rem;
        }
    }
    .itechpart-ymb {
        height: 100%;
        -webkit-box-pack: center;
        -webkit-justify-content: center;
        -moz-box-pack: center;
        -ms-flex-pack: center;
        justify-content: center;
        &::before {
            content: "";
            position: absolute;
            @include breakpoint($medium-min) {
                right: -15px;
                top: 50%;
                -webkit-transform: translateY(-50%);
                -moz-transform: translateY(-50%);
                -ms-transform: translateY(-50%);
                -o-transform: translateY(-50%);
                transform: translateY(-50%);
                width: 1px;
                height: 100%;
            }
            @include breakpoint($small-max) {
                bottom: 0px;
                left: 50%;
                -webkit-transform: translateX(-50%);
                -moz-transform: translateX(-50%);
                -ms-transform: translateX(-50%);
                -o-transform: translateX(-50%);
                transform: translateX(-50%);
                width: 45%;
                height: 1px;
            }
            background-color: var(--color-bblock);
        }
        &::after {
            content: "or";
            position: absolute;
            @include breakpoint($medium-min) {
                right: -28px;
                top: 50%;
                -webkit-transform: translateY(-50%);
                -moz-transform: translateY(-50%);
                -ms-transform: translateY(-50%);
                -o-transform: translateY(-50%);
                transform: translateY(-50%);
            }
            @include breakpoint($small-max) {
                bottom: -13px;
                left: 50%;
                -webkit-transform: translateX(-50%);
                -moz-transform: translateX(-50%);
                -ms-transform: translateX(-50%);
                -o-transform: translateX(-50%);
                transform: translateX(-50%);
            }
            background-color: $color-black;
            color: $color-white;
            -webkit-box-shadow: 0 0 7px -3px #000;
            -moz-box-shadow: 0 0 7px -3px #000;
            box-shadow: 0 0 7px -3px #000;
            width: 26px;
            height: 26px;
            -webkit-border-radius: 50%;
            -moz-border-radius: 50%;
            border-radius: 50%;
            border: 1px solid var(--color-bblock);
            text-align: center;
            font-size: 14px;
            font-weight: 500;
            z-index: 1;
            cursor: default;
        }
        .itechout-qut {
            @include breakpoint($small-max) {
                margin-bottom: 1.5rem;
                padding-bottom: .5rem;
            }
        }
        ul {
            li {
                margin-bottom: 0.5rem;
            }
        }
        .itechpin-1kj {
            -webkit-box-orient: horizontal;
            -webkit-box-direction: normal;
            -webkit-flex-direction: row;
            -moz-box-orient: horizontal;
            -moz-box-direction: normal;
            -ms-flex-direction: row;
            flex-direction: row;
            span.itech-icon {
                margin-top: 0.25rem;
                width: 1.75rem;
                height: 1.75rem;
                text-align: center;
                border: 1px solid var(--color-fbwhite);
                -webkit-border-radius: 2px;
                -moz-border-radius: 2px;
                border-radius: 2px;
                line-height: 1.65;
                i {
                    font-size: 1rem;
                    color: var(--color-fbwhite);
                }
            }
            .itech-jrd {
                span {
                    font-size: 18px;
                    font-weight: 500;
                    text-transform: uppercase;
                    color: var(--color-fbwhite);
                }
                p {
                    color: var(--color-fwhablack);
                    font-weight: 500;
                }
            }
        }
    }
    form {
        input.itech-error,
        textarea.itech-error {
            border-color: $color-instagram;
        }
        .form-group>label {
            color: var(--color-fbwhite);
            font-weight: 600;
        }
        span.itech-alert {
            color: $color-instagram;
        }
        input+span.itech-error,
        textarea+span.itech-error {
            color: $color-instagram;
            font-size: 15px;
        }
        button[type="submit"] {
            background-color: var(--color-fbwhite);
            -webkit-border-radius: 0.1875rem;
            -moz-border-radius: 0.1875rem;
            border-radius: 0.1875rem;
            color: var(--color-fwhblack);
            border-color: var(--color-bblock);
            min-width: 135px;
            font-weight: 500;
            @include breakpoint($extra-small-phone) {
                width: 100%;
            }
        }
        .custom-control {
            &.custom-checkbox {
                .custom-control-label::before {
                    -webkit-border-radius: 0.125rem;
                    -moz-border-radius: 0.125rem;
                    border-radius: 0.125rem;
                    border-color: var(--color-fwhablack);
                    -webkit-box-shadow: none;
                    -moz-box-shadow: none;
                    box-shadow: none;
                }
                input[type="checkbox"]:checked~.custom-control-label::before {
                    background-color: $color-black;
                    border-color: var(--color-bblock);
                }
                .custom-control-label.itech-error::before {
                    border-color: $color-instagram;
                }
            }
            input,
            label {
                cursor: pointer;
                font-weight: 500;
                .itech-alert {
                    color: $color-instagram;
                }
            }
        }
    }
}


/* iTechPublic contact us page end */