/*
* Prefixed by https://autoprefixer.github.io
* PostCSS: v7.0.29,
* Autoprefixer: v9.7.6
* Browsers: last 100 version
*/


/* iTechPublic dark-mode start */

html.itech-dark .itechspl-cxz .itechpart-xul figure img {
    -webkit-filter: invert(77%);
    filter: invert(77%);
}

html.itech-dark .itechpart-faj img.img-fit {
    -webkit-filter: invert(85%);
    filter: invert(85%);
}

html.itech-dark .itechsec-vyc .itechpin-4qv .itech-uww .itech-hdk img {
    -webkit-filter: invert(85%);
    filter: invert(85%);
}

html.itech-dark .itechpart-phd .itech-bzw.itechout-wzy figure img {
    -webkit-filter: invert(85%);
    filter: invert(85%);
}

html.itech-dark .itechsec-up7 .itechpin-x8r figure img {
    -webkit-filter: invert(85%);
    filter: invert(85%);
}

html.itech-dark .itechsec-up7 .itechpin-kco .itech-w8v .itech-ogt .btn img {
    -webkit-filter: invert(85%);
    filter: invert(85%);
}

html.itech-dark .itechsec-yun .itechout-gmj .itechpart-2ep table img {
    -webkit-filter: invert(85%);
    filter: invert(85%);
}

// body.itech-darkmode {
//     background-color: $color-bdark;
// iTechPublic header start
// header.itechsec-2xg {
//     background-color: $color-bdark;
//     .itechpart-8ki {
//         border-bottom-color: $color-sdbdark;
//     }
// }
// header.itechsec-2xg .itechpin-hz3>ul li a {
//     color: $color-dcolor;
// }
// header.itechsec-2xg .itechpin-gow .itech-hdc>ul li button {
//     color: $color-dcolor;
// }
// header.itechsec-2xg .itechpin-gow .itech-hdc>ul li a.itechout-mp2 {
//     color: $color-dcolor;
//     border-color: $color-sdbdark;
// }
// header.itechsec-2xg .itechpin-gow .itech-hdc>ul li.itech-4q2::after {
//     background-color: $color-sdbdark;
// }
// //iTechPublic product tab start
// .itechsec-ox3 .itechpart-4ht {
//     background-color: $color-sbdark;
//     border-color: $color-sdbdark;
// }
// .card {
//     background-color: $color-sdbdark;
// }
// .itechspl-cxz .card {
//     border-color: $color-sdbdark;
// }
// .itechspl-cxz .itechpart-xul figure img {
//     filter: invert(77%);
// }
// .itechspl-cxz .itechpart-asw::before {
//     background-color: $color-sdbdark;
// }
// .itechspl-cxz .itechpart-asw h3 a {
//     color: $color-sdcolor;
// }
// .itechsec-ox3 .itechpin-xaj ul.nav-tabs li a {
//     color: $color-sdcolor;
//     background-color: $color-sdbdark;
// }
// }

/* iTechPublic dark-mode end */