/*
* Prefixed by https://autoprefixer.github.io
* PostCSS: v7.0.29,
* Autoprefixer: v9.7.6
* Browsers: last 100 version
*/

.itechsec-zpd {
    .itechpart-jyr {
        padding-left: 11rem;
        padding-right: 11rem;
        @include breakpoint($medium-only) {
            padding-left: 9rem;
            padding-right: 9rem;
        }
        @include breakpoint($small-only) {
            padding-left: 9rem;
            padding-right: 9rem;
        }
        @include breakpoint($extra-small-only) {
            padding-left: 5rem;
            padding-right: 5rem;
        }
        @include breakpoint($extra-small-phone-only3) {
            padding-left: 4rem;
            padding-right: 4rem;
        }
        @include breakpoint($extra-small-phone-max) {
            padding-left: 1rem;
            padding-right: 1rem;
        }
    }
    /* iTechPublic signin with start */
    .itechpart-lji {
        text-align: center;
        >span {
            color: var(--color-fwhablack);
            position: relative;
            &::before,
            &::after {
                content: "";
                position: absolute;
                top: 0.75rem;
                width: 45%;
                height: 1px;
                background-color: var(--color-bblock);
            }
            &::before {
                left: -50%;
            }
            &::after {
                right: -50%;
            }
        }
    }
    /* Social share start */
    .itechpart-dte {
        -webkit-box-align: center;
        -webkit-align-items: center;
        -moz-box-align: center;
        -ms-flex-align: center;
        align-items: center;
        margin-top: 1.5rem;
        margin-bottom: 1.5rem;
        ul {
            li {
                display: block;
                position: relative;
                margin-right: 0.5rem;
                @include breakpoint($extra-small-phone-only) {
                    margin-right: 0.25rem;
                }
                &:last-child {
                    margin-right: 0;
                }
                a.btn {
                    padding-left: 0.5rem;
                    padding-right: 0.5rem;
                    height: 2.125rem;
                    font-size: 0.875rem;
                    display: block;
                    position: relative;
                    -webkit-box-pack: center;
                    -webkit-justify-content: center;
                    -moz-box-pack: center;
                    -ms-flex-pack: center;
                    justify-content: center;
                    -webkit-box-align: center;
                    -webkit-align-items: center;
                    -moz-box-align: center;
                    -ms-flex-align: center;
                    align-items: center;
                    text-align: center;
                    border: 0px none;
                    -webkit-border-radius: 0.1875rem;
                    -moz-border-radius: 0.1875rem;
                    border-radius: 0.1875rem;
                    font-weight: 600;
                    text-decoration: none;
                    cursor: pointer;
                    -webkit-transition: all 0.15s;
                    -o-transition: all 0.15s;
                    -moz-transition: all 0.15s;
                    transition: all 0.15s;
                    color: $color-white;
                    i {
                        margin-right: 0.25rem;
                    }
                    &.itech-facebook {
                        background-color: $color-facebook;
                        color: $color-white;
                        &:hover {
                            background-color: rgba(59, 89, 152, 0.9);
                        }
                    }
                    &.itech-twitter {
                        background-color: $color-twitter;
                        color: $color-white;
                        &:hover {
                            background-color: rgba(0, 172, 237, 0.9);
                        }
                    }
                    &.itech-instagram {
                        background-color: $color-instagram;
                        color: $color-white;
                        &:hover {
                            background-color: rgba(234, 44, 89, 0.9);
                        }
                    }
                    &.itech-linkedin {
                        background-color: $color-linkedin;
                        color: $color-white;
                        &:hover {
                            background-color: rgba(0, 123, 182, 0.9);
                        }
                    }
                    &.itech-pinterest {
                        background-color: $color-pinterest;
                        color: $color-white;
                        &:hover {
                            background-color: rgba(203, 32, 39, 0.9);
                        }
                    }
                    &.itech-google {
                        background-color: $color-google;
                        color: $color-white;
                        &:hover {
                            background-color: rgba(221, 75, 57, 0.9);
                        }
                    }
                }
            }
        }
    }
    /* Social share start */
    /* iTechPublic signin with end */
}