.bitspin-arj {
    justify-content: center;
    align-items: center;
    .bits-gsw {
        h5 {
            font-size: 14px;
            font-weight: 700;
            color: #39c;
            margin-bottom: 9px;
        }
    }
    .bits-ysw {
        h2 {
            color: #000;
            margin-bottom: 1.5rem;
        }
        span {
            display: inline-block;
            width: 40px;
            height: 3px;
            background-color: #39c;
            vertical-align: top;
        }
    }
    .bits-asw {
        p {
            text-align: center;
            color: #9b9b9b;
            display: inline-block;
            max-width: 670px;
            padding-top: 24px;
        }
    }
}