/*
* Prefixed by https://autoprefixer.github.io
* PostCSS: v7.0.29,
* Autoprefixer: v9.7.6
* Browsers: last 100 version
*/


/* iTechPublic global shop start */

.itechpin-0tk {
    background-color: var(--color-ablock);
    -webkit-border-radius: 0.25rem;
    -moz-border-radius: 0.25rem;
    border-radius: 0.25rem;
    border-width: 1px;
    border-color: var(--color-bblock);
    -webkit-box-shadow: 0 2px 3px -2px rgba(0, 0, 0, .15);
    -moz-box-shadow: 0 2px 3px -2px rgba(0, 0, 0, .15);
    box-shadow: 0 2px 3px -2px rgba(0, 0, 0, .15);
    .itechpart-sy8 {
        padding-top: 2.5rem;
        padding-bottom: 1.5rem;
        padding-left: 0.75rem;
        padding-right: 0.75rem;
        &::before {
            content: "";
            position: absolute;
            background-color: var(--color-active);
            @include breakpoint($extra-small-phone) {
                width: 80px !important;
                height: 2px !important;
            }
            width: 2px;
            height: 80px;
            left: 0;
            top: 0;
        }
    }
    .itechpart-ox8 {
        padding-top: 1rem;
        padding-bottom: 1.5rem;
        padding-left: 0.5rem;
        padding-right: 0.5rem;
    }
}

.itechpin-lwy {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    -webkit-flex-direction: row;
    -moz-box-orient: horizontal;
    -moz-box-direction: normal;
    -ms-flex-direction: row;
    flex-direction: row;
    -webkit-flex-wrap: wrap;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    -webkit-box-align: center;
    -webkit-align-items: center;
    -moz-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    padding-top: 0.6rem;
    &::before {
        content: "";
        position: absolute;
        width: 15%;
        height: 1px;
        top: 0;
        left: 0;
        background-color: var(--color-bblock);
        -webkit-transition: all 0.15s;
        -o-transition: all 0.15s;
        -moz-transition: all 0.15s;
        transition: all 0.15s;
    }
    ul {
        li {
            font-size: 14px;
            margin-right: 0.5rem;
            padding-right: 0.5rem;
            position: relative;
            font-weight: 500;
            color: var(--color-fwhablack);
            &:not(:last-child)::after {
                content: "";
                position: absolute;
                width: 1px;
                height: 100%;
                top: 0;
                right: 0;
                background-color: var(--color-bblock);
            }
            &:last-child {
                margin-right: 0;
                padding-right: 0;
            }
            i {
                margin-right: 0.25rem;
            }
        }
    }
}


/* iTechPublic global shop end */