/*
* Prefixed by https://autoprefixer.github.io
* PostCSS: v8.3.6,
* Autoprefixer: v10.3.1
* Browsers: last 100 version
*/

.bitspin-arj {
    -webkit-box-pack: center;
    -webkit-justify-content: center;
    -moz-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    -webkit-align-items: center;
    -moz-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    .bits-gsw {
        h5 {
            font-size: 14px;
            font-weight: 700;
            color: var(--color-priority);
            margin-bottom: 9px;
        }
    }
    .bits-ysw {
        h2 {
            color: $color-black;
            margin-bottom: 1.5rem;
            text-align: center;
        }
        span.bitspix-abc {
            display: inline-block;
            width: 40px;
            height: 3px;
            background-color: var(--color-priority);
            vertical-align: top;
        }
    }
    .bits-asw {
        p {
            text-align: center;
            color: #9b9b9b;
            display: inline-block;
            max-width: 670px;
            padding-top: 24px;
        }
    }
}

.cms-modal.bitsecure-active {
    -webkit-transform: scale(1);
    -khtml-transform: scale(1);
    -moz-transform: scale(1);
    -ms-transform: scale(1);
    -o-transform: scale(1);
    transform: scale(1);
    opacity: 1;
    visibility: visible;
}

.cms-modal {
    -webkit-transition: all 360ms linear 0ms;
    -moz-transition: all 360ms linear 0ms;
    -o-transition: all 360ms linear 0ms;
    transition: all 360ms linear 0ms;
    background-color: rgba(34, 34, 34, 0.95);
    position: fixed;
    z-index: 999;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    -webkit-transform: scale(0.5);
    -khtml-transform: scale(0.5);
    -moz-transform: scale(0.5);
    -ms-transform: scale(0.5);
    -o-transform: scale(0.5);
    transform: scale(0.5);
    opacity: 0;
    visibility: hidden;
}

.cms-modal-search .search-field {
    background-color: transparent;
    border: none;
    height: 60px;
    padding-left: 20px;
    padding-right: 20px;
    color: $color-white;
    font-size: 25px;
    font-weight: 600;
    width: 100%;
    &:focus {
        outline: 0;
        border-color: var(--color-priority);
    }
}

.cms-modal-search .search-submit {
    font-size: 28px;
    color: var(--color-priority);
    background-color: transparent;
    border: none;
    padding: 0;
    height: 60px;
    width: 60px;
    line-height: 60px;
    position: absolute;
    top: 0;
    right: 20px;
    text-align: right;
}

.searchform-wrap {
    border: 1px solid var(--color-priority);
    -webkit-border-radius: 2px;
    -moz-border-radius: 2px;
    border-radius: 2px;
    position: relative;
}

.cms-modal .cms-modal-content {
    padding: 0px;
    max-width: 650px;
    margin: auto;
    position: absolute;
    top: 50%;
    -webkit-transform: translate(0, -50%);
    -khtml-transform: translate(0, -50%);
    -moz-transform: translate(0, -50%);
    -ms-transform: translate(0, -50%);
    -o-transform: translate(0, -50%);
    transform: translate(0, -50%);
    left: 0;
    right: 0;
}


/* Custom scrollbar - y */

// .bitsecureout-kb6::-webkit-scrollbar-track {
//     /* -webkit-box-shadow: inset 0 0 6px $color-white; */
//     -webkit-border-radius: 7px;
//     border-radius: 7px;
//     background-color: transparent;
// }
// .bitsecureout-kb6::-webkit-scrollbar {
//     width: 7px;
//     background-color: transparent;
//     &:hover {
//         background-color: var(--color-bvblock);
//     }
// }
// .bitsecureout-kb6::-webkit-scrollbar-thumb {
//     -webkit-border-radius: 10px;
//     border-radius: 10px;
//     -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, .3);
//     background-color: var(--color-bvblock);
// }

/* Custom scrollbar - x */

// .bitsecureout-0zo::-webkit-scrollbar-track {
//     /* -webkit-box-shadow: inset 0 0 6px $color-white; */
//     -webkit-border-radius: 7px;
//     border-radius: 7px;
//     background-color: transparent;
// }
// .bitsecureout-0zo::-webkit-scrollbar {
//     height: 7px;
//     background-color: transparent;
//     &:hover {
//         background-color: var(--color-bvblock);
//     }
// }
// .bitsecureout-0zo::-webkit-scrollbar-thumb {
//     -webkit-border-radius: 10px;
//     border-radius: 10px;
//     -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, .3);
//     background-color: var(--color-bvblock);
// }

/* Custom scrollbar - y --- smaller */

// .bitsecureout-kb7::-webkit-scrollbar-track {
//     /* -webkit-box-shadow: inset 0 0 6px $color-white; */
//     -webkit-border-radius: 4px;
//     border-radius: 4px;
//     background-color: transparent;
// }
// .bitsecureout-kb7::-webkit-scrollbar {
//     width: 4px;
//     background-color: transparent;
//     &:hover {
//         background-color: var(--color-bvblock);
//     }
// }
// .bitsecureout-kb7::-webkit-scrollbar-thumb {
//     -webkit-border-radius: 10px;
//     border-radius: 10px;
//     -webkit-box-shadow: inset 0 0 4px rgba(0, 0, 0, .3);
//     background-color: var(--color-bvblock);
// }

/* Header fixed animation */