/*
* Prefixed by https://autoprefixer.github.io
* PostCSS: v7.0.29,
* Autoprefixer: v9.7.6
* Browsers: last 100 version
*/

.bitsecuresec-2xg {
    background-color: transparent;
    z-index: 9 !important;
    width: 100%;
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    border-bottom: 1px solid #8f8f8f85;
    .bitsecurepart-8ki {
        min-height: 100px;
        justify-content: center;
        .bitsecureipart-6dj {
            display: flex;
            flex-direction: row;
            align-items: center;
            .bitsecurepin-9wx {
                a.bitsecure-logo {
                    display: block;
                    position: relative;
                    background-image: url("../images/asset-2.png");
                    -webkit-background-size: contain;
                    -moz-background-size: contain;
                    -o-background-size: contain;
                    background-size: contain;
                    background-position: center left;
                    background-repeat: no-repeat;
                    width: 105px;
                    height: 40px;
                }
            }
            .bitsecurepin-ipx {
                flex-direction: row;
                .bitsecurepix-ioo {
                    ul.bits-jii {
                        >li {
                            display: inline-block;
                            vertical-align: middle;
                            position: relative;
                            white-space: nowrap;
                            margin: 0 15px;
                            &:hover {
                                a {
                                    color: var(--color-active);
                                }
                                >ul.bitsecure-submenu {
                                    visibility: visible;
                                    display: block;
                                    opacity: 1;
                                    margin-top: 0;
                                }
                                a::before {
                                    width: 100%;
                                    opacity: 1;
                                }
                            }
                            >a {
                                display: block;
                                text-decoration: none;
                                color: var(--color-fwhvblack);
                                font-weight: 700;
                                line-height: 100px;
                                position: relative;
                                -webkit-transition: all 300ms linear 0ms;
                                -khtml-transition: all 300ms linear 0ms;
                                -moz-transition: all 300ms linear 0ms;
                                -ms-transition: all 300ms linear 0ms;
                                -o-transition: all 300ms linear 0ms;
                                transition: all 300ms linear 0ms;
                                &::before {
                                    content: "";
                                    position: absolute;
                                    left: 0;
                                    right: 0;
                                    bottom: -1px;
                                    margin: auto;
                                    background-color: var(--color-priority);
                                    opacity: 0;
                                    height: 3px;
                                    margin-top: 12px;
                                    width: 0;
                                    -webkit-transition: all 300ms linear 0ms;
                                    -khtml-transition: all 300ms linear 0ms;
                                    -moz-transition: all 300ms linear 0ms;
                                    -ms-transition: all 300ms linear 0ms;
                                    -o-transition: all 300ms linear 0ms;
                                    transition: all 300ms linear 0ms;
                                }
                            }
                            ul.bitsecure-submenu {
                                flex-direction: column;
                                position: absolute;
                                background: var(--color-fwhvblack);
                                padding: 23px 0;
                                top: 100%;
                                left: 0;
                                margin-top: 15px;
                                min-width: 235px;
                                z-index: 99;
                                visibility: hidden;
                                opacity: 0;
                                // box-shadow: 0 5px 5px rgba(40, 40, 40, 0.12);
                                -webkit-transition: all 300ms linear 0ms;
                                -khtml-transition: all 300ms linear 0ms;
                                -moz-transition: all 300ms linear 0ms;
                                -ms-transition: all 300ms linear 0ms;
                                -o-transition: all 300ms linear 0ms;
                                transition: all 300ms linear 0ms;
                                li {
                                    padding: 0 40px;
                                    list-style: none;
                                    position: relative;
                                    display: block !important;
                                    a {
                                        color: #9b9b9b;
                                        font-size: 14px;
                                        line-height: normal;
                                        padding: 11px 0;
                                        position: relative;
                                        display: block;
                                        text-decoration: none;
                                        border-bottom: 1px solid #eaeaea;
                                        -webkit-transition: all 300ms linear 0ms;
                                        -khtml-transition: all 300ms linear 0ms;
                                        -moz-transition: all 300ms linear 0ms;
                                        -ms-transition: all 300ms linear 0ms;
                                        -o-transition: all 300ms linear 0ms;
                                        transition: all 300ms linear 0ms;
                                        &::before {
                                            content: '\f105';
                                            display: inline-block;
                                            font-style: normal;
                                            font-variant: normal;
                                            text-rendering: auto;
                                            -webkit-font-smoothing: antialiased;
                                            font-family: "Font Awesome 5 Free";
                                            font-weight: 900;
                                            position: absolute;
                                            left: -15px;
                                            top: 50%;
                                            -webkit-transform: translate(0, -50%);
                                            -khtml-transform: translate(0, -50%);
                                            -moz-transform: translate(0, -50%);
                                            -ms-transform: translate(0, -50%);
                                            -o-transform: translate(0, -50%);
                                            transform: translate(0, -50%);
                                            opacity: 0;
                                            -webkit-transition: all 300ms linear 0ms;
                                            -khtml-transition: all 300ms linear 0ms;
                                            -moz-transition: all 300ms linear 0ms;
                                            -ms-transition: all 300ms linear 0ms;
                                            -o-transition: all 300ms linear 0ms;
                                            transition: all 300ms linear 0ms;
                                        }
                                        &:hover {
                                            color: var(--color-priority);
                                            padding-left: 21px;
                                            &::before {
                                                left: 0;
                                                opacity: 1;
                                            }
                                        }
                                    }
                                    &:last-child a {
                                        border-bottom: 0px solid #eaeaea;
                                    }
                                    &:hover {
                                        ul.bitsecure-submenu {
                                            visibility: visible;
                                            display: block;
                                            opacity: 1;
                                            margin-top: 0;
                                        }
                                    }
                                }
                                ul.bitsecure-submenu {
                                    top: 0;
                                    left: 100%;
                                }
                            }
                        }
                    }
                }
                .bitsecurepix-iue {
                    flex-direction: row;
                    flex-wrap: nowrap;
                    align-items: center;
                    .h-btn-search {
                        cursor: pointer;
                        padding: 20px 5px;
                        margin-left: 15px;
                        display: flex;
                        line-height: 99px;
                        position: relative;
                        i {
                            color: var(--color-fwhvblack);
                            -webkit-transition: all 300ms linear 0ms;
                            -khtml-transition: all 300ms linear 0ms;
                            -moz-transition: all 300ms linear 0ms;
                            -ms-transition: all 300ms linear 0ms;
                            -o-transition: all 300ms linear 0ms;
                            transition: all 300ms linear 0ms;
                        }
                        &::before {
                            content: "";
                            position: absolute;
                            right: -10px;
                            top: 50%;
                            width: 1px;
                            height: 70%;
                            background-color: var(--color-fwhvblack);
                            -webkit-transform: translate(0, -50%);
                            -khtml-transform: translate(0, -50%);
                            -moz-transform: translate(0, -50%);
                            -ms-transform: translate(0, -50%);
                            -o-transform: translate(0, -50%);
                            transform: translate(0, -50%);
                        }
                        &:hover {
                            i {
                                color: var(--color-active);
                            }
                        }
                    }
                    .bits-jll {
                        margin-left: 20px;
                        flex-direction: row;
                        flex-wrap: nowrap;
                        color: var(--color-fwhvblack);
                        i {
                            font-size: 16px;
                            color: var(--color-fwhvblack);
                            margin-right: 15px;
                            line-height: 100px;
                            transform: scaleX(-1);
                        }
                        .header-phone-meta a {
                            text-decoration: none;
                            color: var(--color-fwhvblack);
                            font-weight: 700;
                            line-height: 100px;
                        }
                    }
                }
            }
        }
    }
}


/* iTechPublic responsive nav modal start */


/* iTechPublic responsive menu part start */

.bitsecurepin-y2f {
    ul {
        li {
            display: block;
            position: relative;
            border-bottom: 1px solid var(--color-bblock);
            a {
                color: var(--color-fwhablack);
                text-decoration: none;
                display: block;
                position: relative;
                padding-top: 0.75rem;
                padding-right: 3rem;
                padding-bottom: 0.75rem;
                padding-left: 0;
                font-weight: 600;
                &:hover {
                    color: var(--color-active);
                }
            }
            &.dropdown {
                &::after {
                    display: inline-block;
                    font-style: normal;
                    font-variant: normal;
                    text-rendering: auto;
                    -webkit-font-smoothing: antialiased;
                    width: 52px;
                    position: absolute;
                    right: 0;
                    top: 0;
                    padding: 0.75rem 0.9375rem;
                    text-align: center;
                    color: var(--color-fwhablack);
                    z-index: 1;
                }
                &::after {
                    font-family: "Font Awesome 5 Free";
                    font-weight: 900;
                    content: "\f107";
                }
                .bitsecurepart-vxy {
                    margin-bottom: 0.9375rem;
                    padding-left: 0.9375rem;
                    border-left-width: 1px;
                    border-left-color: var(--color-active);
                    display: none;
                    ul {
                        li {
                            display: block;
                            position: relative;
                            border: 0px none;
                            a {
                                color: var(--color-fwhablack);
                                text-decoration: none;
                                display: block;
                                position: relative;
                                padding-top: 0.5rem;
                                padding-bottom: 0.5rem;
                                font-weight: 600;
                            }
                            &.bitsecure-active {
                                a {
                                    color: var(--color-active);
                                }
                            }
                        }
                    }
                }
            }
            &.bitsecure-active {
                a {
                    color: var(--color-active);
                }
            }
        }
    }
}

////@error///
///////////
////////////////
///////////
///@at-root
//
///
///
////
///

/* iTechPublic responsive menu part end */

.bitsecuresec-vtd {
    z-index: 11;
    .bitsecurepart-8xo {
        position: fixed;
        top: 0;
        right: -350px;
        width: 80%;
        max-width: -webkit-calc(100% - 62px);
        max-width: -moz-calc(100% - 62px);
        max-width: calc(100% - 62px);
        height: 100%;
        background-color: var(--color-whitesoftb);
        -webkit-transition: .5s cubic-bezier(.55, 0, .1, 1) .25s;
        -o-transition: .5s cubic-bezier(.55, 0, .1, 1) .25s;
        -moz-transition: .5s cubic-bezier(.55, 0, .1, 1) .25s;
        transition: .5s cubic-bezier(.55, 0, .1, 1) .25s;
        overflow-y: auto;
        z-index: 2;
        opacity: 0;
        visibility: hidden;
        &.bitsecure-active {
            opacity: 1;
            visibility: visible;
            right: 0px;
        }
    }
    .bitsecure-z1t {
        padding-top: 5rem;
        padding-bottom: 1.5rem;
        padding-left: 2rem;
        padding-right: 2rem;
    }
    .bitsecurepin-ozl {
        position: fixed;
        left: 100%;
        top: 0;
        bottom: 0;
        right: 0;
        width: 100%;
        height: 100%;
        background-color: $color-white;
        z-index: 1;
        -webkit-transition: all 0.3s .5s;
        -o-transition: all 0.3s .5s;
        -moz-transition: all 0.3s .5s;
        transition: all 0.3s .5s;
        opacity: 0;
        visibility: hidden;
    }
    /* iTechPublic responsive navmodal extra start */
    .bitsecurepin-mz2 {
        .bitsecure-jr7 {
            @include breakpoint($extra-small-min) {
                -webkit-box-orient: horizontal;
                -webkit-box-direction: normal;
                -webkit-flex-direction: row;
                -moz-box-orient: horizontal;
                -moz-box-direction: normal;
                -ms-flex-direction: row;
                flex-direction: row;
                -webkit-flex-wrap: wrap;
                -ms-flex-wrap: wrap;
                flex-wrap: wrap;
            }
        }
        .bitsecure-hdc {
            margin-top: 2.5rem;
            z-index: 1;
            &.bitsecureout-snf {
                z-index: 0;
            }
            >ul {
                -webkit-box-align: center;
                -webkit-align-items: center;
                -moz-box-align: center;
                -ms-flex-align: center;
                align-items: center;
                li {
                    position: relative;
                    a.bitsecureout-mp2 {
                        -webkit-border-radius: 0.1875rem;
                        -moz-border-radius: 0.1875rem;
                        border-radius: 0.1875rem;
                        color: var(--color-fwhablack);
                        border-color: var(--color-bblock);
                        min-height: 38px;
                        line-height: 1.5;
                        font-weight: 600;
                        &:hover {
                            color: var(--color-active);
                            border-color: var(--color-active);
                        }
                    }
                    button {
                        padding-top: 0.5rem;
                        padding-bottom: 0.25rem;
                        padding-left: 0;
                        padding-right: 0.5rem;
                        color: var(--color-fwhablack);
                        &:hover {
                            color: var(--color-active);
                        }
                    }
                    &.bitsecure-4q2 {
                        &::after {
                            content: "";
                            position: absolute;
                            width: 1px;
                            height: 100%;
                            top: 50%;
                            -webkit-transform: translateY(-50%);
                            -moz-transform: translateY(-50%);
                            -ms-transform: translateY(-50%);
                            -o-transform: translateY(-50%);
                            transform: translateY(-50%);
                            right: -0.5rem;
                            background-color: var(--color-bblock);
                        }
                    }
                }
            }
            &.bitsecureout-snf {
                @include breakpoint($extra-small-phone) {
                    margin-top: 2.5rem;
                    padding-top: 2.5rem;
                    -webkit-box-align: center;
                    -webkit-align-items: center;
                    -moz-box-align: center;
                    -ms-flex-align: center;
                    align-items: center;
                    &::after {
                        content: "";
                        position: absolute;
                        width: 100%;
                        height: 1px;
                        top: 0;
                        left: 50%;
                        -webkit-transform: translateX(-50%);
                        -moz-transform: translateX(-50%);
                        -ms-transform: translateX(-50%);
                        -o-transform: translateX(-50%);
                        transform: translateX(-50%);
                        background-color: var(--color-bblock);
                    }
                }
                ul li a {
                    @include breakpoint($extra-small-phone-only3) {
                        padding-left: 2rem;
                        padding-right: 2rem;
                    }
                    @include breakpoint($extra-small-phone-max) {
                        padding-left: 1rem;
                        padding-right: 1rem;
                    }
                    @include breakpoint($extra-small-phone-only) {
                        padding-left: 0.45rem;
                        padding-right: 0.45rem;
                    }
                }
            }
        }
    }
    /* iTechPublic responsive navmodal extra end */
}


/* iTechPublic responsive nav modal end */