/*
* Prefixed by https://autoprefixer.github.io
* PostCSS: v7.0.29,
* Autoprefixer: v9.7.6
* Browsers: last 100 version
*/

.itechsec-kdh {
    .itechspl-pjv {
        @include breakpoint($small-max) {
            margin-bottom: 3.5rem;
        }
    }
}


/* iTechPublic blog parts start */

.itechspl-avr {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    -webkit-flex-direction: row;
    -moz-box-orient: horizontal;
    -moz-box-direction: normal;
    -ms-flex-direction: row;
    flex-direction: row;
    -webkit-flex-wrap: wrap;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    -webkit-box-align: center;
    -webkit-align-items: center;
    -moz-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-pack: justify;
    -webkit-justify-content: space-between;
    -moz-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
    background-color: var(--color-ablock);
    border-width: 1px;
    border-color: var(--color-bblock);
    -webkit-box-shadow: 0 2px 3px -2px rgba(0, 0, 0, .15);
    -moz-box-shadow: 0 2px 3px -2px rgba(0, 0, 0, .15);
    box-shadow: 0 2px 3px -2px rgba(0, 0, 0, .15);
    -webkit-border-radius: 0.25rem;
    -moz-border-radius: 0.25rem;
    border-radius: 0.25rem;
    padding-top: 0.5rem;
    padding-bottom: 0.5rem;
    padding-right: 1rem;
    .itechspl-6xf {
        @include breakpoint($extra-small-phone-only) {
            display: none;
        }
        a {
            -webkit-border-radius: 0.1875rem !important;
            -moz-border-radius: 0.1875rem !important;
            border-radius: 0.1875rem !important;
        }
    }
    .itechout-8po {
        display: none;
        @include breakpoint($extra-small-phone-only) {
            display: block;
        }
        a {
            text-decoration: none;
            color: var(--color-fwhablack);
            font-weight: 600;
            display: block;
            position: relative;
            width: 100%;
            border-color: var(--color-bblock);
            -webkit-box-shadow: 0 2px 3px -2px rgba(0, 0, 0, .15);
            -moz-box-shadow: 0 2px 3px -2px rgba(0, 0, 0, .15);
            box-shadow: 0 2px 3px -2px rgba(0, 0, 0, .15);
            background-color: $color-white;
            &:hover {
                color: var(--color-active);
                border-color: var(--color-active);
            }
        }
    }
}

.itechspl-6xf {
    a {
        text-decoration: none;
        color: var(--color-fwhablack);
        font-weight: 600;
        display: block;
        position: relative;
        width: 100%;
        border-color: var(--color-bblock);
        background-color: var(--color-aablock);
        &:hover {
            color: var(--color-active);
            border-color: var(--color-active);
        }
    }
}


/* iTechPublic blog parts end */