/*
* Prefixed by https://autoprefixer.github.io
* PostCSS: v7.0.29,
* Autoprefixer: v9.7.6
* Browsers: last 100 version
*/

.itechsec-iuy {
    .itechpart-ynv {
        overflow: hidden;
        background-repeat: no-repeat;
        background-size: cover;
        background-position: center center;
        &:hover {
            .itechpin-hmd::before {
                opacity: 0.3;
            }
            .itechpin-cnt .itechpin-yaw::before {
                background-color: var(--color-active);
            }
        }
        &.itech-ht5 {
            @include breakpoint($medium-min) {
                height: 500px;
            }
            height: 250px;
        }
        &.itech-ht4 {
            height: 250px;
        }
        &.itech-bbr2 {
            @include breakpoint($medium-min) {
                border-right: 2px solid $color-white;
            }
            @include breakpoint($small-only) {
                border-bottom: 2px solid $color-white;
            }
        }
        &.itech-br2 {
            @include breakpoint($small-min) {
                border-right: 2px solid $color-white;
            }
        }
        &.itech-bb2 {
            @include breakpoint($small-min) {
                border-bottom: 2px solid $color-white;
            }
        }
        @include breakpoint($extra-small-max) {
            border-bottom: 2px solid $color-white;
        }
        a.itech-overlay {
            position: absolute;
            left: 0;
            top: 0;
            bottom: 0;
            right: 0;
            width: 100%;
            height: 100%;
            display: block;
            z-index: 1;
        }
        .itechpin-hmd {
            display: block;
            position: relative;
            width: 100%;
            height: 100%;
            top: 0;
            left: 0;
            right: 0;
            bottom: 0;
            -webkit-background-size: cover;
            -moz-background-size: cover;
            -o-background-size: cover;
            background-size: cover;
            background-position: center center;
            background-repeat: no-repeat;
            -webkit-transition: all .15s;
            -o-transition: all .15s;
            -moz-transition: all .15s;
            transition: all .15s;
            &::before {
                content: "";
                display: block;
                width: 100%;
                height: 100%;
                position: absolute;
                left: 0;
                right: 0;
                top: 0;
                bottom: 0;
                background: -webkit-linear-gradient( 315deg, $color-white 0%, var(--color-active) 100%);
                background: -moz-linear-gradient( 315deg, $color-white 0%, var(--color-active) 100%);
                background: -o-linear-gradient( 315deg, $color-white 0%, var(--color-active) 100%);
                background: linear-gradient( 135deg, $color-white 0%, var(--color-active) 100%);
                opacity: 0.15;
                -webkit-transition: all .3s ease;
                -o-transition: all .3s ease;
                -moz-transition: all .3s ease;
                transition: all .3s ease;
            }
            figure {
                margin-bottom: 0px;
            }
        }
        .itechpin-cnt {
            position: absolute;
            bottom: 0;
            left: 0;
            width: 100%;
            background: -webkit-gradient(linear, left bottom, left top, from(rgba(0, 0, 0, 0.75)), to(transparent));
            background: -webkit-linear-gradient(bottom, rgba(0, 0, 0, 0.75), transparent);
            background: -moz-linear-gradient(bottom, rgba(0, 0, 0, 0.75), transparent);
            background: -o-linear-gradient(bottom, rgba(0, 0, 0, 0.75), transparent);
            background: linear-gradient(0deg, rgba(0, 0, 0, 0.75), transparent);
            z-index: 1;
            .itech-article {
                max-width: 80%;
                padding-left: 1.5rem;
                padding-right: 1.5rem;
                padding-top: 1.5rem;
                padding-bottom: 1.5rem;
                h3 {
                    line-height: 1;
                    font-weight: 700;
                    &:hover {
                        a {
                            color: var(--color-active);
                        }
                    }
                    a {
                        display: inline-block;
                        position: relative;
                        color: $color-semiwhite;
                        -webkit-transition: all 0.15s;
                        -o-transition: all 0.15s;
                        -moz-transition: all 0.15s;
                        transition: all 0.15s;
                        text-decoration: none;
                    }
                }
            }
            .itechpin-vwg {
                -webkit-box-orient: horizontal;
                -webkit-box-direction: normal;
                -webkit-flex-direction: row;
                -moz-box-orient: horizontal;
                -moz-box-direction: normal;
                -ms-flex-direction: row;
            }
            .itechpin-yaw {
                position: relative;
                margin-bottom: 1rem;
                &::before {
                    content: "";
                    display: block;
                    width: 7.5vw;
                    height: 1px;
                    position: absolute;
                    left: 0;
                    bottom: -10px;
                    background-color: $color-white;
                    -webkit-transition: all 0.15s;
                    -o-transition: all 0.15s;
                    -moz-transition: all 0.15s;
                    transition: all 0.15s;
                }
                a {
                    text-decoration: none;
                    display: inline-block;
                    position: relative;
                    padding-left: 1rem;
                    padding-right: 1rem;
                    padding-top: 2px;
                    padding-bottom: 2px;
                    border: 1px solid var(--color-bblock);
                    -webkit-transition: all 0.15s;
                    -o-transition: all 0.15s;
                    -moz-transition: all 0.15s;
                    transition: all 0.15s;
                    -webkit-border-radius: 0.125rem;
                    -moz-border-radius: 0.125rem;
                    border-radius: 0.125rem;
                    background-color: $color-semiwhite;
                    color: $color-backcolor;
                    font-size: 14px;
                    font-weight: 500;
                    z-index: 2;
                    &:hover {
                        color: var(--color-active);
                    }
                }
            }
        }
    }
}