/*
* Prefixed by https://autoprefixer.github.io
* PostCSS: v7.0.29,
* Autoprefixer: v9.7.6
* Browsers: last 100 version
*/


/* Back button start */

.itechpin-fsi {
    a {
        -webkit-border-radius: 0.1875rem;
        -moz-border-radius: 0.1875rem;
        border-radius: 0.1875rem;
        color: $color-instagram;
        border-color: $color-instagram;
        text-transform: uppercase;
        font-size: 14px;
        font-weight: 500;
        &:hover {
            color: var(--color-active);
            border-color: var(--color-active);
        }
    }
}


/* Back button end */