/*
* Prefixed by https://autoprefixer.github.io
* PostCSS: v8.3.6,
* Autoprefixer: v10.3.1
* Browsers: last 100 version
*/

.bitsecuresec-8iu {
    background-color: #243956;
    .bitspix-25g {
        padding-top: 125px;
        padding-bottom: 125px;
        text-align: center;
        p {
            font-size: 14px;
            font-weight: 700;
            color: var(--color-priority);
            margin-bottom: 20px;
        }
        h2 {
            color: $color-white;
        }
        article {
            font-size: 1rem;
            font-weight: 700;
            color: $color-white;
            margin-top: 30px;
        }
    }
}