/*
* Prefixed by https://autoprefixer.github.io
* PostCSS: v7.0.29,
* Autoprefixer: v9.7.6
* Browsers: last 100 version
*/


/* iTechPublic product single start */

.itechsec-up7 {
    .itechpart-uis {
        background-color: var(--color-ablock);
        padding-top: 1rem;
        padding-bottom: 1rem;
        padding-left: 1.5rem;
        padding-right: 1.5rem;
        margin-bottom: 0.5rem;
        @include breakpoint($extra-small-phone-max) {
            padding-left: 1rem;
            padding-right: 1rem;
        }
        border-width: 1px;
        border-color: var(--color-bblock);
        -webkit-box-shadow: 0 2px 3px -2px rgba(0, 0, 0, .15);
        -moz-box-shadow: 0 2px 3px -2px rgba(0, 0, 0, .15);
        box-shadow: 0 2px 3px -2px rgba(0, 0, 0, .15);
        -webkit-border-radius: 0.25rem;
        -moz-border-radius: 0.25rem;
        border-radius: 0.25rem;
        &::before {
            content: "";
            position: absolute;
            background-color: var(--color-active);
            @include breakpoint($extra-small-phone) {
                width: 80px;
                height: 2px;
            }
            width: 2px;
            height: 80px;
            left: 0;
            top: 0;
        }
    }
    .itechpin-kk6 {
        margin-top: 0.5rem;
        margin-bottom: 1rem;
        h1 {
            color: var(--color-fbwhite);
            font-weight: 500;
            font-size: 28px;
        }
    }
    .itech-m3b {
        margin-top: 1rem;
        @include breakpoint($extra-small-phone) {
            margin-top: 0;
        }
        margin-bottom: 2rem;
    }
    /* iTechPublic nav-tabs start */
    .itechpin-z7w {
        margin-bottom: 2rem;
        ul.nav-tabs {
            -webkit-box-orient: horizontal;
            -webkit-box-direction: normal;
            -webkit-flex-direction: row;
            -moz-box-orient: horizontal;
            -moz-box-direction: normal;
            -ms-flex-direction: row;
            flex-direction: row;
            -webkit-flex-wrap: wrap;
            -ms-flex-wrap: wrap;
            flex-wrap: wrap;
            -webkit-box-pack: start;
            -webkit-justify-content: flex-start;
            -moz-box-pack: start;
            -ms-flex-pack: start;
            justify-content: flex-start;
            @include breakpoint($extra-small-max) {
                -webkit-box-pack: center;
                -webkit-justify-content: center;
                -moz-box-pack: center;
                -ms-flex-pack: center;
                justify-content: center;
            }
            text-align: center;
            border-color: var(--color-bblock);
            background-color: var(--color-fbwhite);
            -webkit-border-radius: 0.25rem;
            -moz-border-radius: 0.25rem;
            border-radius: 0.25rem;
            li {
                display: block;
                position: relative;
                a {
                    display: block;
                    position: relative;
                    text-decoration: none;
                    color: var(--color-fwhblack);
                    text-transform: uppercase;
                    font-weight: 600;
                    font-size: 1rem;
                    line-height: 2.5rem;
                    padding-top: .25rem;
                    padding-bottom: .25rem;
                    padding-left: 0.9375rem;
                    padding-right: 0.9375rem;
                    @include breakpoint($extra-small-phone-only) {
                        padding-left: 0.75rem;
                        padding-right: 0.75rem;
                    }
                    -webkit-transition: all 0.15s;
                    -o-transition: all 0.15s;
                    -moz-transition: all 0.15s;
                    transition: all 0.15s;
                    &::after {
                        content: "";
                        position: absolute;
                        width: 100%;
                        height: 2px;
                        background-color: transparent;
                        bottom: -1px;
                        left: 0;
                        -webkit-transform: scale(0);
                        -moz-transform: scale(0);
                        -ms-transform: scale(0);
                        -o-transform: scale(0);
                        transform: scale(0);
                        -webkit-transition: all 0.15s;
                        -o-transition: all 0.15s;
                        -moz-transition: all 0.15s;
                        transition: all 0.15s;
                    }
                    &.active {
                        &::after {
                            -webkit-transform: scale(1);
                            -moz-transform: scale(1);
                            -ms-transform: scale(1);
                            -o-transform: scale(1);
                            transform: scale(1);
                            background-color: var(--color-fwhblack);
                        }
                    }
                }
                i {
                    margin-right: 0.25rem;
                }
            }
        }
    }
    /* iTechPublic nav-tabs end */
    .itechpin-xic {
        .itechspl-jx8 {
            margin-bottom: 2rem;
        }
    }
    /* iTechPublic opinions start */
    .itechpin-zw0 {
        .itech-empty {
            background-color: var(--color-silblock);
            height: 100%;
        }
        .itechspl-jx8 {
            margin-bottom: 2rem;
        }
        form {
            input.itech-error,
            textarea.itech-error {
                border-color: $color-instagram;
            }
            .form-group label {
                color: var(--color-fbwhite);
                font-weight: 600;
            }
            span.itech-alert {
                color: $color-instagram;
            }
            input+span.itech-error,
            textarea+span.itech-error {
                color: $color-instagram;
                font-size: 15px;
            }
            button[type="submit"] {
                background-color: $color-black;
                -webkit-border-radius: 0.1875rem;
                -moz-border-radius: 0.1875rem;
                border-radius: 0.1875rem;
                color: $color-white;
                border-color: var(--color-bblock);
                min-width: 135px;
                font-weight: 500;
                @include breakpoint($extra-small-phone-only) {
                    width: 100%;
                }
            }
            .itechpin-ak0 {
                .itech-dnk {
                    position: relative
                }
                .itech-xv3 {
                    -webkit-appearance: none;
                    width: -webkit-calc(100% - 76px);
                    width: -moz-calc(100% - 76px);
                    width: calc(100% - 76px);
                    height: 10px;
                    -webkit-border-radius: 5px;
                    -moz-border-radius: 5px;
                    border-radius: 5px;
                    background: #d3d3d3;
                    outline: none;
                    opacity: 1;
                    -webkit-transition: .15s;
                    -webkit-transition: opacity .15s;
                    -o-transition: opacity .15s;
                    -moz-transition: opacity .15s;
                    transition: opacity .15s;
                    position: relative;
                }
                .itech-xv3::-webkit-slider-thumb {
                    -webkit-appearance: none;
                    appearance: none;
                    width: 22px;
                    height: 22px;
                    border: 0;
                    background-image: url('../images/iconfinder_adjust-contrast_216432.png');
                    -webkit-background-size: cover;
                    background-size: cover;
                    background-position: center center;
                    background-repeat: no-repeat;
                    cursor: pointer;
                    background-color: $color-white;
                }
                .itech-xv3::-moz-range-thumb {
                    width: 22px;
                    height: 22px;
                    border: 0;
                    background-image: url('../images/iconfinder_adjust-contrast_216432.png');
                    -moz-background-size: cover;
                    background-size: cover;
                    background-position: center center;
                    background-repeat: no-repeat;
                    cursor: pointer;
                    background-color: $color-white;
                }
                .itech-3fg {
                    display: inline-block;
                    position: relative;
                    width: 63px;
                    color: $color-white;
                    line-height: 20px;
                    text-align: center;
                    -webkit-border-radius: 0.1875rem;
                    -moz-border-radius: 0.1875rem;
                    border-radius: 0.1875rem;
                    background: $color-black;
                    padding: 3px 6px;
                    margin-left: 0.5rem;
                    font-size: 75%;
                    font-weight: 700;
                }
            }
            .itech-xob {
                color: $color-white;
                -webkit-border-radius: 0.1875rem;
                -moz-border-radius: 0.1875rem;
                border-radius: 0.1875rem;
                background-color: $color-black;
                padding: 5px 10px;
                pointer-events: none;
                min-width: 80px;
                @include breakpoint($extra-small-max) {
                    min-width: 63px;
                }
                span.badge {
                    -webkit-border-radius: 0.125rem;
                    -moz-border-radius: 0.125rem;
                    border-radius: 0.125rem;
                    min-width: 63px;
                    &.itech-error {
                        border: 1px solid $color-instagram;
                    }
                }
            }
            .itech-hut {
                position: relative;
                &::after {
                    content: '';
                    position: absolute;
                    top: 0;
                    right: 0;
                    width: 250px;
                    height: 1px;
                    background-color: var(--color-bblock);
                }
            }
        }
    }
    /* iTechPublic opinions end */
    /* iTechPublic reviews start */
    .itechpart-jsv {
        .itechspl-jx8 {
            margin-bottom: 2rem;
        }
        .itechaprt-yik {
            .row {
                margin-left: -7px;
                margin-right: -7px;
                .itech-bmi {
                    padding-left: 7px;
                    padding-right: 7px;
                }
            }
        }
        .itechpin-fhk {
            border: 1px solid var(--color-bblock);
            -webkit-border-radius: 0.1875rem;
            -moz-border-radius: 0.1875rem;
            border-radius: 0.1875rem;
            padding: 4px 8px 10px;
            @include breakpoint($small-max) {
                margin-bottom: 0.5rem;
            }
            .itech-dwl {
                -webkit-box-orient: horizontal;
                -webkit-box-direction: normal;
                -webkit-flex-direction: row;
                -moz-box-orient: horizontal;
                -moz-box-direction: normal;
                -ms-flex-direction: row;
                flex-direction: row;
                -webkit-flex-wrap: wrap;
                -ms-flex-wrap: wrap;
                flex-wrap: wrap;
                -webkit-box-pack: justify;
                -webkit-justify-content: space-between;
                -moz-box-pack: justify;
                -ms-flex-pack: justify;
                justify-content: space-between;
                -webkit-box-align: center;
                -webkit-align-items: center;
                -moz-box-align: center;
                -ms-flex-align: center;
                align-items: center;
                margin-bottom: 2px;
                >strong {
                    color: var(--color-fwhablack);
                }
                span {
                    font-weight: 700;
                    font-size: 14px;
                    color: var(--color-fwhablack);
                }
            }
            .progress {
                .progress-bar.itech-bad {
                    background-color: $color-instagram;
                }
                .progress-bar.itech-good {
                    background-color: var(--color-fbwhite);
                }
                .progress-bar.itech-excellent {
                    background-color: var(--color-active);
                }
            }
            &.itechout-wwi {
                .itech-dwl {
                    margin-bottom: 8px;
                    >strong {
                        color: var(--color-fwhablack);
                    }
                    .itech-qk3 {
                        -webkit-box-orient: horizontal;
                        -webkit-box-direction: normal;
                        -webkit-flex-direction: row;
                        -moz-box-orient: horizontal;
                        -moz-box-direction: normal;
                        -ms-flex-direction: row;
                        flex-direction: row;
                        -webkit-box-align: center;
                        -webkit-align-items: center;
                        -moz-box-align: center;
                        -ms-flex-align: center;
                        align-items: center;
                        span.itech-review {
                            color: var(--color-fwhablack);
                        }
                    }
                }
                .itech-m2e {
                    -webkit-border-radius: 0.1875rem;
                    -moz-border-radius: 0.1875rem;
                    border-radius: 0.1875rem;
                    background-color: $color-black;
                    padding-top: 4px;
                    padding-bottom: 5px;
                    padding-left: 5px;
                    padding-right: 5px;
                    span.badge {
                        -webkit-border-radius: 0.125rem;
                        -moz-border-radius: 0.125rem;
                        border-radius: 0.125rem;
                        min-width: 63px;
                        color: $color-black;
                        &.itech-error {
                            border: 1px solid $color-instagram;
                        }
                    }
                    &.itech-excellent {
                        background-color: var(--color-active);
                    }
                    &.itech-excellent {
                        background-color: var(--color-active);
                    }
                    &.itech-good {
                        background-color: var(--color-fbwhite);
                    }
                    &.itech-bad {
                        background-color: $color-instagram;
                    }
                }
                .itech-sep {
                    min-height: 24px;
                    padding-left: 0.5rem;
                    padding-right: 0.5rem;
                    position: relative;
                    &::after {
                        content: "";
                        position: absolute;
                        width: 1px;
                        height: 100%;
                        top: 0;
                        left: 0.5rem;
                        background-color: var(--color-bblock);
                    }
                }
            }
        }
    }
    /* iTechPublic reviews end */
    .itechpart-vrq {
        .itech-yqi {
            margin-top: 0.5rem;
            padding-top: 0.5rem;
            &::before {
                content: "";
                position: absolute;
                width: 15%;
                height: 1px;
                top: 0;
                left: 0;
                background-color: var(--color-fbwhite);
            }
            h1,
            h2,
            h3,
            h4,
            h5,
            h6 {
                color: var(--color-fbwhite);
            }
        }
    }
}


/* iTechPublic product single end */

.itechsec-up7,
.itechsec-pb6 {
    .itechpart-pev {
        margin-bottom: 1rem;
        &::after {
            content: "";
            width: 65%;
            height: 1px;
            position: absolute;
            left: 0;
            bottom: 0;
            background-color: var(--color-bblock);
        }
        .itechpin-4xc {
            -webkit-box-orient: horizontal;
            -webkit-box-direction: normal;
            -webkit-flex-direction: row;
            -moz-box-orient: horizontal;
            -moz-box-direction: normal;
            -ms-flex-direction: row;
            flex-direction: row;
            -webkit-flex-wrap: nowrap;
            -ms-flex-wrap: nowrap;
            flex-wrap: nowrap;
            font-size: 18px;
            margin-bottom: 0.5rem;
            padding-bottom: 0.5rem;
            &::before {
                content: "";
                width: 25px;
                height: 1px;
                position: absolute;
                left: 0;
                bottom: 0;
                background-color: var(--color-bblock);
            }
            .itech-active {
                color: $color-active;
                font-weight: 500;
            }
        }
    }
    .itechpin-bzd {
        padding-top: 1rem;
        padding-bottom: 0.5rem;
        -webkit-box-orient: horizontal;
        -webkit-box-direction: normal;
        -webkit-flex-direction: row;
        -moz-box-orient: horizontal;
        -moz-box-direction: normal;
        -ms-flex-direction: row;
        flex-direction: row;
        -webkit-flex-wrap: wrap;
        -ms-flex-wrap: wrap;
        flex-wrap: wrap;
        &::before {
            content: "";
            width: 75px;
            height: 1px;
            position: absolute;
            left: 0;
            top: 0;
            background-color: var(--color-bblock);
        }
        .itechspl-z9b {
            background-color: var(--color-abblock);
            border: 1px solid var(--color-bblock);
            min-height: 44px;
            padding-right: 6px;
            padding-top: 10px;
            padding-bottom: 10px;
            margin-right: 6px;
            margin-bottom: 0.5rem;
            .custom-control-input {
                top: 12px;
                left: 8px;
            }
            .custom-control-input~.custom-control-label {
                color: var(--color-fb2wha);
                font-weight: 500;
                &::before {
                    border-color: var(--color-bblock);
                    top: 0.2rem;
                }
            }
            .custom-control-input:disabled~.custom-control-label,
            .custom-control-input[disabled]~.custom-control-label {
                color: var(--color-fbwhite);
            }
        }
    }
    .itechpin-ps4 {
        -webkit-box-orient: horizontal;
        -webkit-box-direction: normal;
        -webkit-flex-direction: row;
        -moz-box-orient: horizontal;
        -moz-box-direction: normal;
        -ms-flex-direction: row;
        flex-direction: row;
        -webkit-box-align: center;
        -webkit-align-items: center;
        -moz-box-align: center;
        -ms-flex-align: center;
        align-items: center;
        border: 1px solid var(--color-bblock);
        background-color: var(--color-abblock);
        -webkit-border-radius: 0.125rem;
        -moz-border-radius: 0.125rem;
        border-radius: 0.125rem;
        padding-left: 0.5rem;
        padding-right: 0.5rem;
        padding-top: 0.25rem;
        padding-bottom: 0.25rem;
        margin-right: 6px;
        margin-bottom: 0.5rem;
        img {
            -webkit-border-radius: 50%;
            -moz-border-radius: 50%;
            border-radius: 50%;
            border: 1px solid var(--color-bblock);
            padding: 4px;
            margin-right: 4px;
            background-color: $color-white;
        }
        span.itech-hit {
            color: var(--color-fb2wha);
            font-size: 14px;
            font-weight: 500;
        }
    }
    .itechpin-yj3 {
        -webkit-box-orient: horizontal;
        -webkit-box-direction: normal;
        -webkit-flex-direction: row;
        -moz-box-orient: horizontal;
        -moz-box-direction: normal;
        -ms-flex-direction: row;
        flex-direction: row;
        -webkit-box-align: center;
        -webkit-align-items: center;
        -moz-box-align: center;
        -ms-flex-align: center;
        align-items: center;
        border: 1px solid var(--color-bblock);
        background-color: var(--color-abblock);
        -webkit-border-radius: 0.125rem;
        -moz-border-radius: 0.125rem;
        border-radius: 0.125rem;
        padding-left: 0.5rem;
        padding-right: 0.5rem;
        padding-top: 0.25rem;
        padding-bottom: 0.25rem;
        margin-bottom: 0.5rem;
        span {
            color: var(--color-fb2wha);
            font-size: 14px;
            font-weight: 500;
        }
        button.itech-like {
            font-size: 22px;
            color: var(--color-fb2wha);
            margin-right: 4px;
            -webkit-transition: all 0.15s;
            -o-transition: all 0.15s;
            -moz-transition: all 0.15s;
            transition: all 0.15s;
            padding: 0;
            &.itech-already {
                color: var(--color-active);
            }
            &:hover:not(.itech-readonly) {
                color: var(--color-active);
            }
            &.itech-readonly {
                cursor: default !important;
            }
        }
    }
    .itechpin-xph {
        margin-bottom: 1rem;
        ul {
            li {
                display: block;
                position: relative;
                padding: 1px 0;
                color: var(--color-fwhablack);
                a {
                    display: inline-block;
                    position: relative;
                    text-decoration: none;
                    color: var(--color-fb2wha);
                    -webkit-transition: all 0.15s;
                    -o-transition: all 0.15s;
                    -moz-transition: all 0.15s;
                    transition: all 0.15s;
                    font-weight: 500;
                    font-size: 14px;
                    &:hover {
                        color: var(--color-active);
                    }
                }
                .itech-tqc {
                    background-color: $color-white;
                    border: 1px solid var(--color-bblock);
                    color: $color-black;
                    margin-right: 4px;
                    padding-left: 0.5rem;
                    padding-right: 0.5rem;
                    -webkit-border-radius: 0.125rem;
                    -moz-border-radius: 0.125rem;
                    border-radius: 0.125rem;
                    font-size: 14px;
                    padding-bottom: 2px;
                    padding-top: 1px;
                    text-transform: capitalize;
                }
                strong {
                    margin-right: 0.25rem;
                }
                span {
                    font-size: 14px;
                    font-weight: 500;
                    color: var(--color-fb2wha);
                }
            }
        }
    }
    /* iTechPublic box-meta start */
    .itechpart-ynw {
        ul {
            li {
                display: block;
                position: relative;
                margin-bottom: 0.5rem;
                &:last-child {
                    margin-bottom: 0;
                }
            }
        }
        .itech-wzb {
            overflow: hidden;
            border: 1px solid var(--color-fbwhite);
            -webkit-border-radius: 0.125rem;
            -moz-border-radius: 0.125rem;
            border-radius: 0.125rem;
            span.itech-otc {
                -webkit-box-pack: center;
                -webkit-justify-content: center;
                -moz-box-pack: center;
                -ms-flex-pack: center;
                justify-content: center;
                padding-top: 0.625rem;
                padding-bottom: 0.625rem;
                padding-left: 0.625rem;
                padding-right: 0.625rem;
                color: var(--color-fwhblack);
                font-size: 20px;
                line-height: 24px;
                background-color: var(--color-fbwhite);
                position: absolute;
                left: 2px;
                top: 2px;
                bottom: 2px;
                width: 46px;
                min-height: 42px;
                -webkit-border-radius: 0.125rem;
                -moz-border-radius: 0.125rem;
                border-radius: 0.125rem;
                text-align: center;
                z-index: 1;
            }
            .itech-7bh {
                -webkit-box-orient: horizontal;
                -webkit-box-direction: normal;
                -webkit-flex-direction: row;
                -moz-box-orient: horizontal;
                -moz-box-direction: normal;
                -ms-flex-direction: row;
                flex-direction: row;
                padding-left: 50px;
                padding-top: 0.625rem;
                padding-right: 0.25rem;
                padding-bottom: 0.625rem;
                min-height: 46px;
                -webkit-transition: all 0.15s;
                -o-transition: all 0.15s;
                -moz-transition: all 0.15s;
                transition: all 0.15s;
                span {
                    font-size: 17px;
                    font-family: 'Agency FB', arial;
                    font-weight: 700;
                    color: var(--color-fb2wha);
                    margin-left: 0.5rem;
                    margin-right: 0.5rem;
                }
            }
        }
    }
    /* iTechPublic gallery start */
    .itechpin-x8r {
        border-width: 1px;
        border-color: var(--color-bblock);
        overflow: hidden;
        cursor: pointer;
        -webkit-box-align: center;
        -webkit-align-items: center;
        -moz-box-align: center;
        -ms-flex-align: center;
        align-items: center;
        -webkit-box-pack: center;
        -webkit-justify-content: center;
        -moz-box-pack: center;
        -ms-flex-pack: center;
        justify-content: center;
        min-height: 333px;
        margin-bottom: 1rem;
        &:hover {
            .itech-1kx {
                opacity: 1;
                border: 180px solid $color-rgbawhitesoft;
            }
            .itech-mer {
                opacity: 1;
                -webkit-transform: scale(1, 1);
                -moz-transform: scale(1, 1);
                -ms-transform: scale(1, 1);
                -o-transform: scale(1, 1);
                transform: scale(1, 1);
            }
        }
        &.itechout-8po {
            cursor: default;
        }
        figure {
            margin-bottom: 0;
        }
        .itech-1kx {
            width: 100%;
            height: 100%;
            position: absolute;
            top: 0;
            left: 0;
            border: 0px solid transparent;
            opacity: 0;
            z-index: 1;
            -webkit-transition: all .3s;
            -o-transition: all .3s;
            -moz-transition: all .3s;
            transition: all .3s;
            cursor: pointer;
        }
        .itech-mer {
            color: var(--color-active);
            font-size: 32px;
            line-height: 1;
            position: absolute;
            top: 50%;
            left: 50%;
            margin-top: -20px;
            margin-left: -20px;
            opacity: 0;
            -webkit-transform: scale(0, 0);
            -moz-transform: scale(0, 0);
            -ms-transform: scale(0, 0);
            -o-transform: scale(0, 0);
            transform: scale(0, 0);
            -webkit-transition: all .3s ease .2s;
            -o-transition: all .3s ease .2s;
            -moz-transition: all .3s ease .2s;
            transition: all .3s ease .2s;
            z-index: 2;
        }
    }
    .itechpin-kco {
        margin-top: 1rem;
        @include breakpoint($small-max) {
            margin-top: 0 !important;
            margin-bottom: 1rem;
        }
        .itech-w8v {
            display: -webkit-box;
            display: -webkit-flex;
            display: -moz-box;
            display: -ms-flexbox;
            display: flex;
            -webkit-box-orient: horizontal;
            -webkit-box-direction: normal;
            -webkit-flex-direction: row;
            -moz-box-orient: horizontal;
            -moz-box-direction: normal;
            -ms-flex-direction: row;
            flex-direction: row;
            -webkit-flex-wrap: nowrap;
            -ms-flex-wrap: nowrap;
            flex-wrap: nowrap;
            overflow: hidden;
            &:hover {
                .owl-nav {
                    opacity: 1;
                    visibility: visible;
                }
            }
            .itech-ogt {
                border: 1px solid var(--color-bblock);
                @include breakpoint($medium-min) {
                    max-width: 95px;
                }
                @include breakpoint($small-only) {
                    max-width: 160px;
                }
                @include breakpoint($extra-small-only) {
                    max-width: 115px;
                }
                @include breakpoint($extra-small-phone-only3) {
                    max-width: 165px;
                }
                @include breakpoint($extra-small-phone-only2) {
                    max-width: 135px;
                }
                @include breakpoint($extra-small-phone-only) {
                    max-width: 98px;
                }
                .btn {
                    -webkit-border-radius: unset;
                    -moz-border-radius: unset;
                    border-radius: unset;
                    padding: 0.25rem;
                }
                &:hover {
                    img {
                        -webkit-animation: flash 1s;
                        -moz-animation: flash 1s;
                        -o-animation: flash 1s;
                        animation: flash 1s;
                    }
                }
            }
            .owl-nav {
                -webkit-transition: all 0.15s;
                -o-transition: all 0.15s;
                -moz-transition: all 0.15s;
                transition: all 0.15s;
                opacity: 0;
                visibility: hidden;
            }
            .owl-nav .owl-prev,
            .owl-nav .owl-next {
                padding: 2px 4px 8px 4px !important;
                height: 40px;
                width: 16px;
                font-weight: 600;
                font-size: 24px;
                color: var(--color-fbwhite);
                line-height: 1;
                background: $color-white;
                position: absolute;
                top: 50%;
                -webkit-transform: translateY(-50%);
                -moz-transform: translateY(-50%);
                -ms-transform: translateY(-50%);
                -o-transform: translateY(-50%);
                transform: translateY(-50%);
                cursor: pointer;
            }
            .owl-nav .owl-prev {
                left: 0px;
            }
            .owl-nav .owl-next {
                right: 0px;
            }
        }
    }
    /* iTechPublic gallery end */
    /* iTechPublic box-meta end */
}