/*
* Prefixed by https://autoprefixer.github.io
* PostCSS: v7.0.29,
* Autoprefixer: v9.7.6
* Browsers: last 100 version
*/


/* iTechPublic search start */

.itecsec-em8 {
    // .itech-xwx{}
    .itechpart-3ko {
        -webkit-box-orient: vertical;
        -webkit-box-direction: normal;
        -webkit-flex-direction: column;
        -moz-box-orient: vertical;
        -moz-box-direction: normal;
        -ms-flex-direction: column;
        flex-direction: column;
        -webkit-flex-wrap: wrap;
        -ms-flex-wrap: wrap;
        flex-wrap: wrap;
        z-index: 1;
        -webkit-transition: all 0.15s;
        -o-transition: all 0.15s;
        -moz-transition: all 0.15s;
        transition: all 0.15s;
        .itechspl-z9b {
            .custom-control-label {
                cursor: pointer;
            }
        }
        span {
            background-color: var(--color-fbwhite);
            color: $color-white;
            padding-top: 0.125rem;
            padding-bottom: 0.125rem;
            padding-left: 0.5rem;
            padding-right: 0.5rem;
            -webkit-border-radius: 0.125rem;
            -moz-border-radius: 0.125rem;
            border-radius: 0.125rem;
            font-size: 14px;
            -webkit-transition: all 0.15s;
            -o-transition: all 0.15s;
            -moz-transition: all 0.15s;
            transition: all 0.15s;
            margin-left: 0.25rem;
            &.itech-excellent {
                background-color: var(--color-active);
            }
            &.itech-good {
                background-color: var(--color-fbwhite);
            }
            &.itech-bad {
                background-color: $color-instagram;
            }
        }
    }
    .itech-9kb {
        color: var(--color-fbwhite);
        font-size: 14px;
        .itech-sep {
            min-height: 24px;
            padding-left: 0.5rem;
            padding-right: 0.5rem;
            position: relative;
            &::after {
                content: "";
                position: absolute;
                width: 1px;
                height: 100%;
                top: 0;
                left: 0.5rem;
                background-color: var(--color-bblock);
            }
        }
    }
    .itechpin-0tk {
        margin-bottom: 3rem;
    }
}


/* iTechPublic search end */