/*
* Prefixed by https://autoprefixer.github.io
* PostCSS: v8.3.6,
* Autoprefixer: v10.3.1
* Browsers: last 100 version
*/

.bitsecuresec-hyx {
    .bitsecurepart-a1k {
        padding-top: 300px;
        padding-bottom: 200px;
        background-position: center center;
        -webkit-background-size: cover;
        -moz-background-size: cover;
        -o-background-size: cover;
        background-size: cover;
        background-repeat: no-repeat;
        .bits-sps {
            h4 {
                color: $color-white;
                font-size: 45px;
                font-weight: 700;
            }
            p {
                margin-top: 10px;
                margin-bottom: 20px;
                font-size: 20px;
                font-weight: 500;
                color: $color-white;
            }
            a {
                text-transform: uppercase;
                padding: 0 30px;
                background-color: var(--color-priority);
                line-height: 60px;
                font-size: 18px;
                font-weight: 700;
                color: $color-white;
                -webkit-border-radius: 3px;
                -moz-border-radius: 3px;
                border-radius: 3px;
                text-align: center;
                text-decoration: none;
                display: inline-block;
                -webkit-transition: all 0.35s;
                -o-transition: all 0.35s;
                -moz-transition: all 0.35s;
                transition: all 0.35s;
                width: 200px;
                -webkit-box-shadow: 0px 5px 15px var(--color-priority);
                -moz-box-shadow: 0px 5px 15px var(--color-priority);
                box-shadow: 0px 5px 15px var(--color-priority);
            }
            a.button span {
                cursor: pointer;
                display: inline-block;
                position: relative;
                -webkit-transition: all 0.35s;
                -o-transition: all 0.35s;
                -moz-transition: all 0.35s;
                transition: all 0.35s;
            }
            a.button span:after {
                display: inline-block;
                font-style: normal;
                font-variant: normal;
                text-rendering: auto;
                -webkit-font-smoothing: antialiased;
                content: "\f105";
                font-family: "Font Awesome 5 Free";
                font-weight: 900;
                position: absolute;
                opacity: 0;
                top: 0;
                right: -20px;
                -webkit-transition: all 0.35s;
                -o-transition: all 0.35s;
                -moz-transition: all 0.35s;
                transition: all 0.35s;
            }
            a.button:hover span {
                padding-right: 25px;
            }
            a.button:hover span:after {
                opacity: 1;
                right: 0;
            }
        }
    }
    .owl-nav button {
        text-align: center;
        opacity: 0.75;
        -webkit-transition: all 0.35s;
        -o-transition: all 0.35s;
        -moz-transition: all 0.35s;
        transition: all 0.35s;
        &:hover {
            opacity: 1;
            color: $color-white;
        }
    }
    .owl-carousel .owl-nav button.owl-prev {
        background: transparent;
        position: absolute;
        top: 50%;
        -webkit-transform: translateY(-50%);
        -moz-transform: translateY(-50%);
        -ms-transform: translateY(-50%);
        -o-transform: translateY(-50%);
        transform: translateY(-50%);
        left: 15px;
        padding: 0 5px 15px 5px !important;
        display: block;
        font-size: 90px;
        -webkit-border-radius: 4px;
        -moz-border-radius: 4px;
        border-radius: 4px;
        -webkit-transition: background 0.35s;
        -o-transition: background 0.35s;
        -moz-transition: background 0.35s;
        transition: background 0.35s;
    }
    .owl-carousel .owl-nav button.owl-next {
        background: transparent;
        position: absolute;
        top: 50%;
        -webkit-transform: translateY(-50%);
        -moz-transform: translateY(-50%);
        -ms-transform: translateY(-50%);
        -o-transform: translateY(-50%);
        transform: translateY(-50%);
        right: 15px;
        padding: 0 5px 15px 5px !important;
        display: block;
        font-size: 90px;
        -webkit-border-radius: 4px;
        -moz-border-radius: 4px;
        border-radius: 4px;
        -webkit-transition: background 0.35s;
        -o-transition: background 0.35s;
        -moz-transition: background 0.35s;
        transition: background 0.35s;
    }
    .owl-carousel .owl-dots {
        z-index: 1;
        position: absolute;
        left: 50%;
        -webkit-transform: translateX(-50%);
        -moz-transform: translateX(-50%);
        -ms-transform: translateX(-50%);
        -o-transform: translateX(-50%);
        transform: translateX(-50%);
        bottom: 15px;
    }
    .owl-carousel button.owl-dot {
        height: 4px;
        width: 4px;
        -webkit-border-radius: 2px;
        -moz-border-radius: 2px;
        border-radius: 2px;
        background: transparent;
        border: 4px solid $color-white;
        margin: 4px;
        &.active {
            border-color: var(--color-priority);
        }
    }
}