/*
* Prefixed by https://autoprefixer.github.io
* PostCSS: v7.0.29,
* Autoprefixer: v9.7.6
* Browsers: last 100 version
*/

:root,
 :root.bitsecure-light {
    //web back
    --color-webback: #f0f2f5;
    //block border
    --color-bvblock: #dddfe2;
    //font color
    --color-fwhvblack: #fff;
    //active
    --color-active: #23ace3;
    //priority
    --color-priority: #23ace3;
    //secondary
    --color-secondary: #ed7d31;
}

:root.bitsecure-dark {
    //web back
    --color-webbk: #f0f2f5;
    //block border
    --color-bvblock: #dddfe2;
    //font color
    --color-fwhvblack: #000;
    //active
    --color-active: #23ace3;
    //priority
    --color-priority: #23ace3;
    //secondary
    --color-secondary: #ed7d31;
}

$color-backcolor: #8492A6;
$color-black: #000;
$color-white: #fff;

/* Social Parts */

$color-facebook: #3b5998;
$color-twitter: #00aced;
$color-instagram: #ea2c59;
$color-pinterest: #cb2027;
$color-linkedin: #007bb6;
$color-youtube: #c4302b;
$color-google: #dd4b39;